/* static/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: #3f2d2d;*/
    margin: 0;
    padding: 20px;
    text-align: center; /* Aligns text to the center */
    background-image: url('/static/background.jpeg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Optional: set the background image to be fixed in the viewport */
}

.centered-container {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
  }


p {
    color: #ffffff;

}

h1 {
    color: #ffffff;
}

form {
    margin-top: 20px;
    display: inline-block; /* Makes the form center-align with text-align property */
}

input[type="text"], button {
    padding: 15px;
    margin-top: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 80%; 
    border-radius: 10px;
    
}

button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(98, 193, 187);
    border: 2px solid rgb(98, 193, 187);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(98, 193, 187);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
button:hover::before {
    scale: 3;
  }
  
button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(98, 193, 187,0.4);
  }
  
  button:active {
    scale: 1;
  }
  
   
button:hover::before {
    width: 105%;
   }
   
button:hover {
    color: #111;
   }

button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(98, 193, 187);
    border: 2px solid rgb(98, 193, 187);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(98, 193, 187);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
button:hover::before {
    scale: 3;
  }
  
button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(98, 193, 187,0.4);
  }
  
  button:active {
    scale: 1;
  }
  
   
button:hover::before {
    width: 105%;
   }
   
button:hover {
    color: #111;
   }


ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Aligns list items to the left */
    display: inline-block; /* Aligns the list in the center due to body's text-align */
    margin: 0; /* Removes default margin */
}

ul.flashes {
    width: 100%; /* Makes the flash messages list take full width */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

ul.flashes li {
    background-color: #ffcccc;
    border: 1px solid #ffaaaa;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 80%; /* Adjust width as needed */
    text-align: center; /* Center the text */
    margin: 10px auto; /* Vertical spacing and centering horizontally */
    padding: 10px;
}

.flash-container {
    width: 100%; /* Use 100% width to span the container */
    text-align: center; /* Center the text */
    color: #000000;
    background-color: transparent;
    margin: 20px auto; /* Vertical spacing and centering horizontally */
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.flash-container-second {
    width: 100%; /* Use 100% width to span the container */
    text-align: center; /* Center the text */
    color: #ffffff;
    background-color: transparent;
    margin: 20px auto; /* Vertical spacing and centering horizontally */
    width: 50%;
    border-radius: 10px;
    padding: 10px;

}

.flash-container.active {
    background-color: #ffcccc; /* Light red background */
}

.flash-message {
    display: inline-block; /* Allows for centering with text-align */
    margin: 10px auto; /* Vertical spacing and centering horizontally */
    padding: 10px;
    border: 1px solid #8c0e0e; /* Red border for visibility */
    background-color: #d6fc00; /* Light red background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds subtle shadow for depth */
    width: 80%; /* Adjust width as needed */
    box-sizing: border-box; /* Include padding and border in the element's width */
}
