<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bathroom Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bathroom Usage Log</h1>
    <div class="flash-container">
    {% if bathroom_log|length > 0 %}
        <ul>
            {% for entry in bathroom_log %}
                <li>{{ entry }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>The log is currently empty.</p>
    {% endif %}
    </div>
    <a href="{{ url_for('menu') }}" class="button">Back to Menu</a>
</body>
</html>